# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
.env/

# Streamlit cache

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDEs
.vscode/
.idea/

# Model and logs
*.h5
*.onnx
*.tflite


